@import url("https://fonts.googleapis.com/css2?family=Grey+Qo&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.grey-qo-regular {
  font-family: "Grey Qo", cursive;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
background-color: black;

}
.header{
    /* background: linear-gradient(
        180deg,
        rgb(17, 17, 17),
        rgba(119, 119, 119, 0) 100%
      ); */

}
/* Navigation Style */

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 2% 10%;
  align-items: center;
}
.menu ul {
  display: flex;
  justify-content: center;
}
.menu ul li {
  list-style: none;
  margin-right: 50px;
  align-items: center;

}
.menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}
.title h3{
    color:rgb(230, 83, 60);
    font-size: 2rem;
    font-weight: 800;
}
#home a{
    background-color:rgb(230, 83, 60);
    border-radius:40px ;
    padding: 8px 25px;
}
nav .fa-solid, .fa-bars{
    display: none;
}

@media  screen and (max-width:576px) {
    
    .menu{
        display: none;
    }
    nav .fa-solid, .fa-bars{
        display: block;
    }
}

/* Navigation Style end */


/* banner style */

.banner-container{
    width: 90%;
    height: 957px;
    border: 2px solid wheat;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.card-1{
    width: 600px;
    height: 450px;
}
/* banner style */