@import url("https://fonts.googleapis.com/css2?family=Grey+Qo&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.grey-qo-regular {
  font-family: "Grey Qo", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 7.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  background: black;
  /* border: 2px dashed green; */
}
.header {
  margin: 0 auto;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgb(48, 46, 46),
    rgba(233, 225, 225, 0) 100%
  );
}
/* Navigation Style */
.navbar {
  display: flex;
  justify-content: space-between;
  margin: 3% 10%;
  /* padding-top: 2%; */
  align-items: center;
}
.menu {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  width: 520px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50px;
}

.menu li,
.menu-footer li {
  list-style: none;
}
.menu li a,
.menu-footer li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}
.title h3 {
  color: rgb(230, 83, 60);
  font-size: 2rem;
  font-weight: 800;
}
#home a {
  background-color: rgb(230, 83, 60);
  border-radius: 40px;
  padding: 8px 25px;
}
nav .fa-solid,
.fa-bars {
  display: none;
}

@media screen and (max-width: 576px) {
  .menu {
    display: none;
  }
  nav .fa-solid,
  .fa-bars {
    display: block;
  }
}

/* Navigation Style end */

/* banner style */

.banner-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  height: 100%;
}
.card-1 h1 {
  color: white;
  font-size: 4rem;
  font-weight: 800;
  line-height: 130%;
}
.card-1 p {
  margin-top: 5%;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
}
.btn-1 {
  margin: 5% 2% 0 0;
  color: white;
  font-size: 1rem;
  border-radius: 42px;
  width: 224px;
  height: 54px;
  background: rgb(230, 83, 60);
  border: 2px solid rgb(230, 83, 60);
}

.btn-2 {
  margin-top: 5%;
  color: white;
  font-size: 1rem;
  border-radius: 42px;
  width: 224px;
  height: 54px;
  background: rgb(0, 0, 0);
  border: 2px solid white;
}

.hero-img {
  margin-left: 15%;
  position: relative;
  margin-right: 10%;
}
.card-2 {
  position: absolute;
  display: flex;
  width: 190px;
  height: 90px;
  gap: 8px;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(192, 192, 192, 0.308);
  color: white;
  left: -30%;
  top: 70%;
  border-radius: 15px;
  background: rgba(31, 28, 28, 0.5);
  backdrop-filter: blur(10px);
}
.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgb(230, 83, 60);
}
.card-2 h4 {
  font-size: 1.2rem;
  font-weight: 900;
}
.card-2 p {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.5);
}
.card-4 {
  position: absolute;
  border: 1px solid rgba(192, 192, 192, 0.308);
  color: white;
  width: 200px;
  height: 100px;
  left: 70%;
  top: 20%;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(25px);
}
.card-4 h3 {
  font-size: 1.5rem;
  font-weight: 900;
  margin-left: 5%;
}
.card-4 p {
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 5px;
  margin-left: 5%;
}

@media screen and (max-width: 576px) {
  .banner-container {
    display: flex;
    gap: 20%;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .card-1 {
    width: 90%;
    height: auto;
  }
  .hero-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
  }

  .card-2 {
    position: absolute;
    left: -10%;
    top: 50%;
    width: 60%;
    height: 15%;
  }
  .card-4 {
    position: absolute;
    width: 50%;
    height: 16%;
    left: 60%;
    top: 10%;
  }
}
/* banner style end*/

/* exercise section style */
.habit-section {
  max-width: 90%;
  margin: 2% auto;
  text-align: center;
}
.exercise-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.exercises img {
  border-radius: 50%;
}
.exercises h4 {
  color: white;
}
.exercises p {
  color: rgba(255, 255, 255, 0.5);
  padding: 2% 0;
}
.habit-title {
  margin: 2% 0;
}
.habit-title h1 {
  color: white;
  font-size: 3rem;
}
.habit-title p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
}

@media screen and (max-width: 576px) {
  .exercise-content {
    display: flex;
    flex-direction: column;
  }
}

/* exercise section style ends */

/* run section style */

.extra-run {
  width: 90%;
  margin: 3% auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;

  background: rgb(34, 34, 34);
}
.run-description {
  width: 40%;
  margin: 30px;
}
.run-description h1 {
  color: white;
  font-size: 3rem;
}
.run-description p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
}
.run-img img {
  width: 400px;
  height: 400px;
  margin: 10px;
  border-radius: 15px;
  object-fit: none;
  object-position: 68% 30%;
}

@media screen and (max-width: 576px) {
  .extra-run {
    display: flex;
    flex-direction: column;
  }
  .run-description {
    width: 90%;
  }
  .run-img {
    width: 90%;
    overflow: hidden;
    border-radius: 15px;
  }
  .run-img img {
    width: 100%;
    margin: 0;
    height: 250px;
    object-fit: cover;
    scale: 1.5;
  }
}
/* run section style ends */

/* diet section style */
.diet-section {
  background-color: rgba(62, 63, 63, 0.5);
  padding: 50px 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.diet-content {
  max-width: 600px;
  margin: 0 20px;
}

.diet-content h2 {
  color: white;
  font-size: 3rem;
  margin-bottom: 20px;
}

.diet-content p {
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.5);
}

.diet-content ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.7);
}

.diet-content li {
  margin-bottom: 10px;
}

.diet-image {
  max-width: 500px;
  margin: 0 20px;
  background-blend-mode: color;
  background-color: rgb(15, 10, 10);
}

.diet-image img {
  width: 100%;
  border-radius: 10px;
}

/* diet section style ends */

/* BMI style */

.bmi-container {
  color: white;
  margin: 5% auto 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bmi-title h1 {
  font-size: 3rem;
  margin-left: 2%;
}
.bmi-title p {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 2%;
}
.bmi {
  background: rgb(34, 34, 34);
  display: flex;
  gap: 10%;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 5%;
  padding: 5%;
  /* height: 500px; */
}
.bmi h2 {
  font-size: 1.7rem;
  margin-bottom: 2%;
}
.bmi p {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 2%;
}
.table {
  width: 350px;
  height: 200px;
  text-align: left;
  margin-top: 10%;
  margin-bottom: 5%;
}
.table,
th,
td {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-collapse: collapse;
  padding: 3%;
}
.table th {
  font-size: 1rem;
}
.table td {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.5);
}
.form-container {
  width: 45%;
}
.form-container input[type="text"],
#sex,
#activity {
  width: 45%;
  height: 50px;
  margin: 5px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 5px;
  color: rgba(255, 255, 255, 0.5);
  background: rgb(255, 255, 255, 0.1);
}
#sex {
  width: 45%;
}
#activity {
  width: calc(90% + 15px);
}

@media screen and (max-width: 576px) {
  .bmi {
    display: flex;
    flex-direction: column;
  }
  .bmi-container {
    margin: 5% 0;
  }
  .form-container {
    width: 100%;
  }
}
/* BMI style ends*/

/* team styles */

.team-container {
  margin: 0 auto;
  max-width: 80%;
  text-align: center;
  
}
.team-container h1 {
  color: white;
  font-size: 3rem;
}
.team-container p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
}
.team-members {
  padding: 3% 0;
  display: grid;
  gap: 20px;
  justify-content: space-evenly;
  grid-template-columns: repeat(3, 350px);
  background: rgba(255, 255, 255, 0.1);
  text-align: left;
  border-radius: 15px;
  margin-top: 2%;
}
.team-members h3 {
  color: white;
  margin: 0 5% 0;
  font-size: 1rem;
}
.team-members p {
  color: rgba(255, 255, 255, 0.5);
  margin: 0 5% 5%;
  font-size: 0.8rem;
}
.img-1 {
  background: url(../images/trainer1.png);
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.2);
  /* width: 350px; */
  height: 300px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 20px;
}
.img-2 {
  background: url(../images/trainer2.png);
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.2);
  /* width: 350px; */
  height: 300px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 20px;
}

.img-3 {
  background: url(../images/trainer3.png);
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.2);
  /* width: 350px; */
  height: 300px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 20px;
}
.img-4 {
  background: url(../images/trainer4.png);
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.2);
  /* width: 350px; */
  height: 300px;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 20px;
}
.img-5 {
  background: url(../images/trainer5.png);
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.2);
  /* width: 350px; */
  height: 300px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 20px;
}
.img-6 {
  background: url(../images/trainer6.png);
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.2);
  /* width: 350px; */
  height: 300px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 20px;
}

@media screen and (max-width: 576px) {
  .team-members {
    display: flex;
    flex-direction: column;
  }
}
/* team styles ends*/

/* footer styles */
footer {
  background: rgba(255, 255, 255, 0.1);
}
footer p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
  padding: 5% 0;
}
.footer-container {
  display: flex;
  gap: 30%;
  justify-content: center;
  align-items: center;
  margin: 2% auto;
  width: 80%;
  padding: 2%;
}

hr {
  color: rgba(255, 255, 255, 0.5);
  width: 80%;
  margin: 1% auto;
}
.get-started {
  display: flex;
  gap: 10%;
}
.get-started h3 {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 5%;
}
.menu-footer li a {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
}
#copy {
  text-align: center;
  padding: 2%;
}

@media screen and (max-width: 576px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .get-started {
    display: flex;
    gap: 10%;
    flex-direction: column;
    margin-top: 5%;
  }
  .get-started h3 {
    margin-bottom: 5%;
    margin-top: 10%;
  }
}
/* footer styles */
